*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$-m-text-color : #f6f6f6;

html{
    width: 100%;
    height: 100%;
}

body{
    min-height: 100vh;
    max-width: 400vh;
    margin: 0 auto;
    background: linear-gradient(336deg, rgba(168, 155, 155, 0.8), rgb(71, 71, 71) 70.71%);
    position: relative;
}

a{
    text-decoration: none;
    color: $-m-text-color;
}

header{
    position: relative;
    display: flex;
    width: 100%;
    height: 160px;

    nav{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 5rem;
    
        .logo{
            font-size: 55px;
            font-weight: 600;
            color : $-m-text-color;
        }
    }
}

.mid-title{
    text-align: center;
    color: $-m-text-color;
    font-size: 23px;
    margin-bottom: 10px;
}

.midBtn{
    display: flex;
    justify-content: right;
    height: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
    max-width: 120vh;

    a{
        display: flex;
        width: 5rem;
        justify-content: center;
        padding: 5px;
        border: none;
        background-color: #fff;
        color: rgb(7, 7, 7);
        border-radius: 8px;
    }

}

.container{
    margin: 0 auto;
    width: 100vh;
    height: 57vh;
    background-color: #fff;
    padding: 50px;
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .subBtn{
        width: 110px;
        height: 60px;
        border: none;
        border-radius: 14px;
        background-color: #313131;
        color: #f6f6f6;
        margin: 5px;
    }

    .subBtn:hover{
        color:#313131;
        background-color: #f6f6f6;
    }

.author,
.title,
.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 45px;
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px; /* label과 input 사이의 간격 조절 */
}
    
    #content{
        margin: 0 auto;
        width: 90%;
        height: 50vh;
        padding: 18px;
        border-radius: 6px;
    }
}