@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$-m-text-color : #555555;
$-h-text-color : #f6f6f6;

html{
    width: 100%;
    height: 100%;
}

body{
    min-height: 100vh;
    max-width: 400vh;
    margin: 0 auto;
    background: linear-gradient(336deg, rgba(168, 155, 155, 0.8), rgb(71, 71, 71) 70.71%);
    position: relative;
}

a{
    text-decoration: none;
    color: $-h-text-color;

    :hover:hover{
        color: $-h-text-color !important;
    }
}

header{
    position: relative;
    display: flex;
    width: 100%;
    height: 160px;
    z-index: 900;

    nav{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2.4rem 5rem !important;
    
        .logo{
            font-size: 55px;
            font-weight: 600;
            color : $-m-text-color;
            h1 a{
                font-size: 82.5px !important;
                font-weight: 600 !important;
            }
        }
    
        .menu_bar{
            display: flex; // 메뉴 가로로 나열
            gap: 1rem;
            list-style: none;
            align-items: start;
            justify-content: space-between;
            margin: 0 32px !important;
        }

        .write{
            margin: 0;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: bold;
            text-decoration: none;
            
            display: inline-block;
            width: auto;

            border: none;
            border-radius: 10px;

            a{
                color: $-m-text-color;
            }
        }

        .write:hover {
            color: $-h-text-color;
            border-color: $-m-text-color;
        }
    }

}

.list {
    h1{
        text-align: center;
        margin: 3rem auto;
        color: $-h-text-color;
    }
}

.container{
    // background-color: #f6f6f6;
    width: 90%;
    height: 67vh;
    margin: 3rem auto;
    border: none;
    border-radius: 3px;
    display: flex; /* 가운데 정렬을 위해 flex 추가 */
    justify-content: center;
}

.wrap{
    width: 80%;
    height: 100%;
    margin: auto;
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;
    text-align: center;

    table {
        border-collapse: collapse;
        margin: 0rem auto;
        background-color: white;
        width: 100%;
        border: 1px solid #ddd
    }

    th{
        background-color: #999999;
    }
    
    th, td {
        border-left: none;
        border-right: none;
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    td{
        a{
            color : $-m-text-color;
        }
    }
}

/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
  width: 15%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 55%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 30%;
}

.nav-bar .menu_bar a:hover,
.pagination a.page-link:hover {
    color: $-h-text-color !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.logo a:hover {
    color: $-h-text-color !important;
    // text-decoration: none !important;
}


@media screen and (max-width:780px){
    html{
        min-width: 680px;
        padding: 2rem;   
    }

    .container{
        margin: 0;
    }
}