@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// 변수 선언
$-m-text-color : #f6f6f6;
$-h-text-color : #f6f6f6;

@mixin card-d{
    max-width: 400px;
    width: 18rem;
    height: 30rem;
    border-radius: 8px;
    padding: 2rem;
    border: none;
}

html{
    width: 100%;
    height: 100%;
}

body{
    min-height: 100vh;
    max-width: 400vh;
    margin: 0 auto;
    background: linear-gradient(336deg, rgba(168, 155, 155, 0.8), rgb(71, 71, 71) 70.71%);
    position: relative;
    transition: background-color .5s;
}

a{
    text-decoration: none !important;
    color: $-m-text-color !important;

    :hover:hover{
        color: $-h-text-color !important;
    }
}

header{
    position: relative;
    display: flex;
    width: 100%;
    height: 160px;
    z-index: 999999;

    nav{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        padding: 2.4rem 5rem !important;
    
        .logo{
            font-size: 55px;
            font-weight: 600;
            color : $-m-text-color;
            h1 a{
                font-size: 82.5px !important;
                font-weight: 600 !important;
            }
        } 
    
        .menu_bar{
            display: flex; // 메뉴 가로로 나열
            gap: 1rem;
            list-style: none;
            align-items: start;
            justify-content: space-between;
            margin: 0 32px !important;
        }
        
        li:hover{
            color: rgb(77, 54, 54);
        }
    }
}

.nav-bar .menu_bar a:hover,
.pagination a.page-link:hover {
    color: $-h-text-color !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.logo a:hover {
    color: $-h-text-color !important;
    // text-decoration: none !important;
}

section{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.box-1{
    height: 600px;
    width: 100%;
    color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 4rem;
    margin: auto;
    top: -12vh;
    border-radius: 8px;
    position: relative;
    right: 8vh;
    flex-direction: column;

    #ti{
        font-size: 60px;
        font-weight: 800;
        text-align: left;
    }

    .light img{
        max-width: 350px;
        max-height: 700px;
        position: absolute;
        top: 22%;
        right: 8%;
    }

    h1{
        margin-top: 10px;
        text-align: left;
    }

    p{
        margin-top: 10px;
        text-align: left;
    }

    .span{
        font-size: 25px;
        font-weight: 400;
        color: #bde6e9;
    }

    .moreBtn{
        font-size: 25px;
        border: none;
        border-radius: 40px;
        width: 9rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        margin-left: -11rem;
        transition: all 0.5s;
        box-shadow: 2px 2px 2px 2px #f6f6f6;
        cursor: pointer;
    }
    .moreBtn:hover{
        color: #f6f6f6;
        background-color: #666;

        span{
            padding-right: 25px;
        }

        span::after{
            opacity: 1;
            right: 0;
        }
    }

    .moreBtn:active{
        color: #ebe1ad;
        background-color: #7cadec;
    }

    .moreBtn span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &::after{
            content: '\00bb';
            position:absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }
}

.moremodal{
   display: none;
   position: fixed;
   z-index: 1;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   color: #202020;
//    background-color: rgb(0,0,0);
//    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 45px;
    width: 80% !important;
    height: 65vh;
    border: 1px solid #888;
    width: 80%;
    top: -8%;

    .modal-body{
        .set{
            color: red !important;
            font-weight: 800;
        }
    }
}

.modal-header{
    display: flex;
    justify-content: flex-end !important;

    .closeBtn {
        color: #464646;
        font-size: 28px;
        font-weight: bold;
    }
    
    .closeBtn:hover,
    .closeBtn:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    
}

.box-2{
    display: flex;
    width: 100%;
    top: -10vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    color: $-m-text-color;

    h1{
        text-align: center;
        font-size: 55px;
        font-weight: 800;
        padding: 2px;
        margin: 20px auto
    }

    .intro{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 95%;
        height: 50vh;
        border: none;
        margin-left: 15%;

        .web{
            margin: 20px 0;
            margin-left: 17%;
            height: auto;
        }
    }

    img{
        position: absolute;
        width: 350px;
        height: 350px;
        top: 18vh;
        right: 15%;
        margin-right: 5%;
    }

    .p-1{
        text-align: start;
        font-size: 20px;
    }
}


.box-3{
    display: inline-flex;
    width: 100%;
    top: -10vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    color: $-m-text-color;


    h1{
        font-size: 55px;
        padding: 2px;
        margin: 20px auto;
        font-weight: 600;
    }
    p{

        margin: 80px auto;
    }

    .mid-container{
        display: flex;
    }
}


.box-4{
    margin-bottom: 150px;
    height: 600px;
    width: 100%;
    top: -11vh;
    position: relative;
    text-align: center;

    #p{
        font-size: 80px;
        font-weight: 600;
        background: linear-gradient(to right top, #eee, #f7fbff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
    }

    p{margin: 20px;}

    .team-intro{
       display: flex; 
       justify-content: center;
       align-items: center;
       text-align: center;
       gap: 2rem;
    }

    .num-1{
        @include card-d;
        background: linear-gradient(to left top, #dae9fc, #fff3f3);
        

        p{
            margin-top: 30x;
        }

        img{
            width: 150px;
            height: 150px;
        }

        .in{
            text-align: left;
            margin-left: 50px;
        }

        .in span{
            font-weight: 600;
        }
    }

    .num-2{
        @include card-d;
        background : linear-gradient(to top, #dae9fc, #fffbd0);

        p{
            margin-top: 30x;
        }

        img{
            width: 150px;
            height: 150px;
        }

        .in{
            text-align: left;
            margin-left: 50px;
        }

        .in span{
            font-weight: 600;
        }
    }

    .num-3{
        @include card-d;
        background: linear-gradient(to right top, #dae9fc, #c0c0c0);

        p{
            margin-top: 30x;
        }

        img{
            width: 150px;
            height: 150px;
        }

        .in{
            text-align: left;
            margin-left: 50px;
        }

        .in span{
            font-weight: 600;
        }
    }

    .num-4{
        display: none;
    }
}

.team-img{
    animation: float 4s ease-in-out infinite;
    box-shadow: 2px #f6f6f6;
}


@media (max-width: 785px) {
    html{
        min-width: 850px;
    }

    .nav-bar{
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 3rem;
        
        .logo{
            height: 120px;
        }
    }

    .menu_bar{
        flex-direction: column;
        align-items: flex-start;
        padding-left: 0;
        position: absolute;
        top: 160px; /* 조절하여 메뉴 위치 조정 */
        left: 0;
        background-color: #3131316e;
        // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
        display: none;
        width: 30%;
        height: auto;
        padding: 2%;
        border: none;
        border-radius: 12px;
    }

    .menu_item {
        margin: 0;
        padding: 1rem;
        width: 100%;
        text-align: left;
        border-bottom: 1px solid #ccc;
      }
    
      .nav-bar:hover .menu_bar {
        display: flex;
      }

    .box-1 {
        width: 760px;
        padding: 0 5%;
    }

    .box-2{
        width: 760px;
        padding: 0 5%;
    }

    .intro{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 95%;
        height: 18vh;
        border: none;
    }

    .box-3{
        width: 760px;
        padding: 0 5%;

        p{
            margin-left: -10vh;
        }
    }

    img {
        max-width: 150px;
        max-height: 300px;
        top: 8%;
        right: 1%;
        opacity: 0;
    }

    .box-4{
        #p{
            margin: auto;
            margin-left: 10vh;
        }
    }

    .num-1,
    .num-2,
    .num-3{
        opacity: 0;
        display: none;
    }

    .num-4{
        max-width: 400px;
        width: 20rem;
        height: 30rem;
        margin: auto;
        margin-left: 20vh;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #f1f7e3;
        text-align: center;
        border-radius: 8px;
        border: none;
        opacity: zz;
    }
}

@media (min-width: 750px) {
    html{
        width: 100%;
    }
}

@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
}