@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$-m-text-color : #f6f6f6;

html{
    width: 100%;
    height: 100%;
}

body{
    min-height: 100vh;
    max-width: 400vh;
    margin: 0 auto;
    background: linear-gradient(336deg, rgba(168, 155, 155, 0.8), rgb(71, 71, 71) 70.71%);
    position: relative;
    transition: background-color .5s;
}

a{
    text-decoration: none !important;
    color: $-m-text-color !important;

    :hover:hover{
        color: $-m-text-color !important;
    }
}

header{
    position: relative;
    display: flex;
    width: 100%;
    height: 160px;
    z-index: 999999;

    nav{
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        padding: 2.4rem 5rem !important;
    
        .logo{
            font-size: 55px;
            font-weight: 600;
            color : $-m-text-color;

            h1 a{
                font-size: 82.5px !important;
                font-weight: 600 !important;
            }
        } 
        .menu_bar{
            display: flex; // 메뉴 가로로 나열
            gap: 1rem;
            list-style: none;
            align-items: start;
            justify-content: space-between;
            margin: 0 32px !important;
        }
    }
}

.container{
    width: 1400px;
    height: 58vh;

    h2{
        color: $-m-text-color;
        width: 70vh;
        text-align: center;
    }

    .webcam{
        display: flex;
    }

    img{
        margin: 10px 30px;
        border-radius: 8px;
        border: 5px solid #f6f6f6;
    }
}

.sensormonitor{
    background-color: #f6f6f6;
    width: 600px;
    height: 50vh;
    justify-content: space-around;
    display: grid;
    align-content: space-evenly;
    align-items: center;
    justify-items: center;
    border-radius: 15px;
    padding: 15px;

    h2{
        color: #2f2c2c;
    }
}


.firstline{ border-collapse : collapse; }  /*이중선 제거*/
.firstline td{
    width: 67.6px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    
    vertical-align: top;   /* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
    }
    
.secondline{ border-collapse : collapse; }  /*이중선 제거*/
.secondline td{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    
    vertical-align: top;   /* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
    }
    
.thirdline{ border-collapse : collapse; }  /*이중선 제거*/
.thirdline td{
    width: 38.2px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    
    vertical-align: top;   /* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
    }
.webcammonitor{
    float:left;
}
.sensormonitor{
    float:right;
}