<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
  <link rel="stylesheet" href = "/service_set.css">
  <title>SERVICE SET</title>
</head>
<body>

  <header>
    <nav>
      <div class="logo">
        <h1><a href="/">SSP</a></h1>
      </div>
      <ul class="menu_bar">
        <li><a href="/list/1">게시판</a></li>
        <li><a href="/service_set">이전으로</a></li>
      </ul>
    </nav>
  </header>

  <div class="page1">
    <div class="explain">
      <p>
        사용 설명
      </p>
      
      <div class="img_body">
        <img src="/images/service_set_ex.png" width="400">
          &nbsp;
          &#10095;&#10095;
          &nbsp;	
        <img class = "webser" src="/images/service_ex.png" width="400">
      </div>

      <p class="p_in">
        1. 웹캠에 찍히는 당신을 확인하고 알맞은 자세에서 <strong>촬영</strong>을 눌러주세요. <br>
        2. <strong>촬영</strong>이 완료되었다는 알람이 나온다면, <strong>시작</strong>을 눌러 주세요! <br>
        3. 다음 화면이 보였다면 사용해보시면 됩니다. <br>
        4. 즐거운 사용되세요!   
      </p>      
    </div>

    <div class="down">
      <a href="#" id="section1">시작하러 가기
        <div class="arrow">
          ↓
        </div>
      </a>
    </div>
  </div>


  <div class="page2">
    <div class="container">
      <div class="webcammonitor">
        <img src="http://localhost:8000/service_set" width="580" />
      </div>
      <br/>
    
      <div class="sensormonitor">
  
        <h2>센서 수치</h2>
        <div class="first">
          <table class="firstline">
            <tr>
              <thead>
                <tr>
                  <th>10</th>
                  <th>12</th>
                  <th>14</th>
                  <th></th>
                  <th>16</th>
                  <th>18</th>
                  <th>20</th>
                </tr>
              </thead>
              <td id="sensor10"></td>
              <td id="sensor12"></td>
              <td id="sensor14"></td>
              <td></td>
              <td id="sensor16"></td>
              <td id="sensor18"></td>
              <td id="sensor20"></td>
            </tr>
          </table>
        </div>
        <br>
        <br>
        <div class="second">
          <table class="secondline">
            <thead>
              <tr>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>11</th>
                <th>13</th>
                <th>15</th>
                <th>17</th>
                <th>19</th>
                <th>21</th>
                <th>22</th>
                <th>23</th>
                <th>24</th>
                <th>25</th>
              </tr>
            </thead>
            <tr>
              <td id="sensor5"></td>
              <td id="sensor6"></td>
              <td id="sensor7"></td>
              <td id="sensor8"></td>
              <td id="sensor9"></td>
              <td id="sensor11"></td>
              <td id="sensor13"></td>
              <td id="sensor15"></td>
              <td id="sensor17"></td>
              <td id="sensor19"></td>
              <td id="sensor21"></td>
              <td id="sensor22"></td>
              <td id="sensor23"></td>
              <td id="sensor24"></td>
              <td id="sensor25"></td>
            </tr>
          </table>
          <table class="wbar">
            <tr>
              <td id="w-10"></td>
              <td id="w-9"></td>
              <td id="w-8"></td>
              <td id="w-7"></td>
              <td id="w-6"></td>
              <td id="w-5"></td>
              <td id="w-4"></td>
              <td id="w-3"></td>
              <td id="w-2"></td>
              <td id="w-1"></td>
              <td id="w1"></td>
              <td id="w2"></td>
              <td id="w3"></td>
              <td id="w4"></td>
              <td id="w5"></td>
              <td id="w6"></td>
              <td id="w7"></td>
              <td id="w8"></td>
              <td id="w9"></td>
              <td id="w10"></td>
            </tr>
          </table>
        </div>
      
        <br>
        <br>
        <div class="third">
          <table class="thirdline">
            <thead>
              <tr>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th></th>
                <th></th>
                <th>26</th>
                <th>27</th>
                <th>28</th>
                <th>29</th>
                <th>30</th>
              </tr>
            </thead>
            <tr>
              <td id="sensor0"></td>
              <td id="sensor1"></td>
              <td id="sensor2"></td>
              <td id="sensor3"></td>
              <td id="sensor4"></td>
              <td></td>
              <td></td>
              <td id="sensor26"></td>
              <td id="sensor27"></td>
              <td id="sensor28"></td>
              <td id="sensor29"></td>
              <td id="sensor30"></td>
            </tr>
          </table> 
        </div>
      </div>
    </div>
  
    <div class = "Btn">
      <button id="capture" class="submitbtn" type="submit" value="Button">촬영</button>
      <button id="start" class="submitbtn" type="submit" value="Button">시작</button>
    </div>
    
    <div class="top">
      <a href="#" id="section2">TOP</a>
    </div>
  </div>

  <script src="/service_func.js"></script>  
  <script src="/service_set_js.js"></script>  
  <script src="/service_set_list.js"></script>

  <style>

    </style>
</body>
</html>
