@charset "UTF-8";
:root {
  --text-color: #f6f6f6;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-image: radial-gradient(circle at 20% 100%, rgba(184, 184, 184, 0.1) 0%, rgba(184, 184, 184, 0.1) 33%, rgba(96, 96, 96, 0.1) 33%, rgba(96, 96, 96, 0.1) 66%, rgba(7, 7, 7, 0.1) 66%, rgba(7, 7, 7, 0.1) 99%), linear-gradient(40deg, #040a22, #2f323c, #7c7e87, #a9aab0);
  background-attachment: fixed;
  background-size: cover;
}

header {
  position: sticky;
  width: 100%;
  height: 100px;
  z-index: 99999;
  top: 0;
  left: 0;
  background: rgb(28, 27, 27);
}
header nav {
  display: grid;
  align-items: center;
  grid-template-columns: 55% 12% 4%;
  justify-content: space-between;
  padding: 20px 34px;
}
header h1 {
  font-size: 50px;
  font-weight: 600;
}

ul {
  display: flex;
  gap: 2em;
  list-style: none;
}

ul:nth-child(2n+1) {
  display: inline-block;
  text-align: center;
  margin-top: 5px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
a img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

section {
  display: grid;
  grid-template-columns: 50% 45%;
  place-items: center;
  gap: 20px;
  min-height: 83vh;
  align-items: start;
  justify-items: center;
}

.page1-content {
  max-width: 2400px;
  overflow-y: hidden;
  margin-top: 20px;
  top: 130px;
  position: relative;
}
.page1-content .project {
  color: #f6f6f6;
  font-size: 65px;
  opacity: 0.8;
}

.page1-morebtn {
  display: flex;
  margin-top: 12%;
  width: 120px;
  height: 6vh;
  font-size: 30px;
  font-weight: 500;
  border: none;
  border-radius: 35px;
  text-align: center;
  justify-content: center;
  padding: 4px 0;
  cursor: pointer;
}
.page1-morebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.page1-morebtn span::after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.moremodal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #202020;
}

.modal-content {
  background-color: #fefefe;
  position: absolute;
  padding: 45px;
  width: 40%;
  height: 65vh;
  border: 1px solid #888;
  border-radius: 15px;
  margin-left: 8%;
  margin-top: 7%;
}
.modal-content .modal-body .set {
  color: red;
  font-weight: 800;
}

.modal-header {
  display: flex;
  justify-content: flex-end !important;
}
.modal-header .closeBtn {
  color: #464646;
  font-size: 28px;
  font-weight: bold;
}
.modal-header .closeBtn:hover,
.modal-header .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.page1-morebtn:hover {
  background-color: #2f323c;
  color: var(--text-color);
}
.page1-morebtn:hover span {
  padding-right: 25px;
}
.page1-morebtn:hover span::after {
  opacity: 1;
  right: 0;
}

.page1-morebtn:active {
  background-color: #5b5b5e;
  color: var(--text-color);
}

.swiper {
  position: relative;
  width: 390px;
  height: 530px;
  top: 100px;
}

.swiper-slide {
  position: relative;
  background-position: center;
  background-size: cover;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 20px;
}
.swiper-slide img {
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: 20px;
}

.backbone img {
  width: 400px;
  height: 430px;
  position: relative;
  left: 151px;
  top: 125px;
}

.page2-content {
  max-width: 2400px;
  overflow-y: hidden;
  margin-top: 20px;
  top: 230px;
  font-size: 21px;
  right: 8em;
  position: relative;
}
.page2-content h2 {
  color: var(--text-color);
}

.make {
  color: var(--text-color);
  margin-top: 20px;
  position: relative;
  top: 190px;
  left: 8em;
}
.make p {
  font-size: 20px;
}

.longimg {
  position: relative;
  max-width: 2400px;
  overflow-y: hidden;
  margin-top: 20px;
  top: 90px;
  left: 3em;
}

section:nth-child(4) {
  display: grid;
  grid-template-columns: 38% 17% 36%;
}

.page3-content {
  max-width: 2400px;
  overflow-y: hidden;
  margin-top: 20px;
  top: 160px;
  position: relative;
}
.page3-content h2, .page3-content p {
  color: var(--text-color);
  text-decoration: none;
}
.page3-content h2 a, .page3-content p a {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 33px;
}
.page3-content h2 img, .page3-content p img {
  position: absolute;
}
.page3-content h2 {
  font-size: 30px;
}
.page3-content p {
  font-size: 20px;
}

.team {
  display: grid;
  grid-template-columns: 30% 17% 30%;
  gap: 10px;
  min-height: 83vh;
  align-items: stretch;
  justify-content: center;
  justify-items: center;
  margin: auto;
  margin-top: 10%;
}
.team .num-1 {
  max-width: 400px;
  width: 18rem;
  height: 30rem;
  border-radius: 8px;
  padding: 2rem;
  border: none;
  background: linear-gradient(to left top, #dae9fc, #fff3f3);
}
.team .num-1 p {
  margin-top: 30x;
}
.team .num-1 img {
  width: 200px;
  height: 200px;
}
.team .num-1 p:nth-child(-n+1) {
  text-align: center;
}
.team .num-1 p:nth-child(3) {
  text-align: left;
  margin-left: 50px;
}
.team .num-1 .in span {
  font-weight: 600;
}
.team .num-2 {
  max-width: 400px;
  width: 18rem;
  height: 30rem;
  border-radius: 8px;
  padding: 2rem;
  border: none;
  background: linear-gradient(to top, #dae9fc, #fffbd0);
}
.team .num-2 p {
  margin-top: 30x;
}
.team .num-2 img {
  width: 200px;
  height: 200px;
}
.team .num-2 p:nth-child(-n+1) {
  text-align: center;
}
.team .num-2 p:nth-child(3) {
  text-align: left;
  margin-left: 50px;
}
.team .num-2 .in span {
  font-weight: 600;
}
.team .num-3 {
  max-width: 400px;
  width: 18rem;
  height: 30rem;
  border-radius: 8px;
  padding: 2rem;
  border: none;
  background: linear-gradient(to right top, #dae9fc, #c0c0c0);
}
.team .num-3 p {
  margin-top: 30x;
}
.team .num-3 img {
  width: 200px;
  height: 200px;
}
.team .num-3 p:nth-child(-n+1) {
  text-align: center;
}
.team .num-3 .p:nth-child(3) {
  text-align: left;
  margin-left: 50px;
}
.team .num-3 .in span {
  font-weight: 600;
}
.team img {
  width: 200px;
  height: 200px;
}

.team-img {
  animation: float 4s ease-in-out infinite;
  box-shadow: 2px #f6f6f6;
}

@media (max-width: 1050px) {
  .swiper {
    width: 350px;
    height: 450px;
  }
}
@media (max-width: 930px) {
  section {
    grid-template-columns: 100%;
    grid-template-rows: 55% 40%;
    grid-template-areas: "slider" "content";
    place-items: center;
    gap: 64px;
    padding: 60px;
  }
  #team {
    grid-template-columns: 100%;
  }
  .swiper {
    grid-area: slider;
  }
  .content {
    grid-area: content;
    text-align: center;
  }
  .content h1 {
    margin-bottom: 20px;
  }
}
@media (max-width: 470px) {
  section {
    padding: 40px 40px 60px;
  }
  #team {
    padding: 40px 40px 60px;
  }
  .swiper {
    width: 300px;
    height: 400px;
  }
  .page2-content {
    display: none;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=main.css.map */