@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100vh;
  max-width: 400vh;
  margin: 0 auto;
  background: linear-gradient(336deg, rgba(168, 155, 155, 0.8), rgb(71, 71, 71) 70.71%);
  position: relative;
  transition: background-color 0.5s;
}

a {
  text-decoration: none !important;
  color: #f6f6f6 !important;
}
a :hover:hover {
  color: #f6f6f6 !important;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 160px;
  z-index: 999999;
}
header nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 2.4rem 5rem !important;
}
header nav .logo {
  font-size: 55px;
  font-weight: 600;
  color: #f6f6f6;
}
header nav .logo h1 a {
  font-size: 82.5px !important;
  font-weight: 600 !important;
}
header nav .menu_bar {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: start;
  justify-content: space-between;
  margin: 0 32px !important;
}

.container {
  width: 1400px;
  gap: 3rem;
}
.container h2 {
  color: #f6f6f6;
  width: 70vh;
  text-align: center;
}
.container .webcam {
  display: flex;
}
.container img {
  margin: 10px 30px;
  border-radius: 8px;
  border: 5px solid #f6f6f6;
}

.sensormonitor {
  background-color: #f6f6f6;
  width: 600px;
  height: 50vh;
  justify-content: space-around;
  display: grid;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  padding: 15px;
}
.sensormonitor h2 {
  color: #2f2c2c;
}

.firstline {
  border-collapse: collapse;
} /*이중선 제거*/
.firstline td {
  width: 67.6px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;
  vertical-align: top; /* 위 */
  vertical-align: bottom; /* 아래 */
  vertical-align: middle; /* 가운데 */
}

.secondline {
  border-collapse: collapse;
} /*이중선 제거*/
.secondline td {

  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;  
  vertical-align: top;   /* 위 */
  vertical-align: bottom;   /* 아래 */
  vertical-align: middle;   /* 가운데 */
}

.thirdline {
  border-collapse: collapse;
} /*이중선 제거*/
.thirdline td {
  width: 38.2px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;
  background-color: black;
  
  vertical-align: top;   /* 위 */
  vertical-align: bottom;   /* 아래 */
  vertical-align: middle;   /* 가운데 */
}

.webcammonitor {
  float: left;
}

.sensormonitor {
  float: right;
}

#seat_Image {
  position: absolute;
  margin: auto;
  border: none;
  border-radius: 50%;
  left: 42%;
  top: 62vh;
}
