* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  margin: 0 auto;
  background: linear-gradient(336deg, rgba(168, 155, 155, 0.8), rgb(71, 71, 71) 70.71%);
  position: relative;
  transition: background-color 0.5s;
}

a {
  text-decoration: none !important;
  color: #f6f6f6 !important;
}
a :hover:hover {
  color: #f6f6f6 !important;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 160px;
  z-index: 999999;
}
header nav {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 2.4rem 5rem !important;
}
header nav .logo {
  font-size: 55px;
  font-weight: 600;
  color: #f6f6f6;
}
header nav .logo h1 a {
  font-size: 82.5px !important;
  font-weight: 600 !important;
}

.page1 {
  position: relative;
  height: 89vh;
  margin-top: 3%;
}
.page1 .explain {
  margin: auto;
  width: 760px;
  height: 60vh;
  border: none;
  border-radius: 20px;
  background-color: #f6f6f6;
  padding: 20px;
}
.page1 #section1 {
  display: flex;
  margin: auto;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
  font-size: 25px;
  position: absolute;
  top: 64vh;
  left: 48%;
}
.page1 .arrow {
  position: absolute;
  top: 68%;
  bottom: 205%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  animation: bounce 1.5s infinite;
}

.page2 {
  position: absolute;
  height: 100vh;
  top: 100%;
  left: 0;
  width: 100%;
}
.page2 .top {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 25px;
}

.container {
  width: 1400px;
  height: 58vh;
  margin-top: 230px;
}
.container img {
  border-radius: 8px;
  border: 5px solid #f6f6f6;
}

.sensormonitor {
  background-color: #f6f6f6;
  width: 600px;
  height: 42vh;
  justify-content: space-around;
  display: grid;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  padding: 15px;
  float:right;
}

th {
  text-align: center;
}

.Btn {
  display: flex;
  justify-content: space-between;
  margin: 0 200px;
  font-size: 20px;
}
.Btn .submitbtn {
  width: 95px;
  height: 3rem;
  border: none;
  border-radius: 30px;
}

.submitbtn:hover {
  color: #f9f9f9;
  background-color: rgba(85, 85, 85, 0.3333333333);
}

.submitbtn:active {
  color: #f9f9f9;
  background-color: bisque;
}

@media all and (max-width: 850px) and (max-width: 1024px) {
  html {
    min-width: 850px;
    height: 100%;
  }
  body {
    width: 100%;
  }
  .page1 {
    width: 100%;
  }
  .page1 .explain {
    width: 50%;
    margin: auto;
    margin-left: 15%;
    margin-right: 40%;
  }
  .page1 #section1 {
    top: 627px;
    left: 32%;
  }
  .page2 {
    width: 100%;
    height: 100%;
  }
  .page2 .container {
    width: 80%;
    margin-top: 200px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .page2 img {
    max-width: 450px;
    width: 100%;
  }
  .page2 .sensormonitor {
    width: 80%;
  }
  .page2 .Btn {
    position: relative;
    margin-top: 136px;
    margin-left: 10%;
  }
  .page2 #section2 {
    margin: 0;
    margin-left: -14%;
  }
}
@media all and (device-height: 715px) and (max-width: 850px) {
  html {
    width: 100%;
    height: 100%;
  }
  #section1 {
    left: 32%;
    top: -20%;
  }
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}
.firstline{ border-collapse : collapse; }  /*이중선 제거*/
    .firstline td{
        width: 67.6px;
        height: 30px;
        text-align: center;
        border: 1px solid #000;
        background-color: black;
        
        vertical-align: top;   /* 위 */
        vertical-align: bottom;   /* 아래 */
        vertical-align: middle;   /* 가운데 */
      }
    .secondline{ border-collapse : collapse; }  /*이중선 제거*/
    .secondline td{
        width: 30px;
        height: 30px;
        text-align: center;
        border: 1px solid #000;
        
        vertical-align: top;   /* 위 */
        vertical-align: bottom;   /* 아래 */
        vertical-align: middle;   /* 가운데 */
      }
    .thirdline{ border-collapse : collapse; }  /*이중선 제거*/
    .thirdline td{
        width: 38.2px;
        height: 30px;
        text-align: center;
        border: 1px solid #000;
        background-color: black;
        
        vertical-align: top;   /* 위 */
        vertical-align: bottom;   /* 아래 */
        vertical-align: middle;   /* 가운데 */
      }
    .webcammonitor{
      float:left;
    }
  
