@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  background-image: radial-gradient(circle at 20% 100%, rgba(184, 184, 184, 0.1) 0%, rgba(184, 184, 184, 0.1) 33%, rgba(96, 96, 96, 0.1) 33%, rgba(96, 96, 96, 0.1) 66%, rgba(7, 7, 7, 0.1) 66%, rgba(7, 7, 7, 0.1) 99%), linear-gradient(40deg, #040a22, #2f323c, #7c7e87, #a9aab0);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  transition: background-color 0.5s;
}

a {
  text-decoration: none;
  color: #f6f6f6;
}

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 100px;
  z-index: 999999;
  background: rgb(28, 27, 27);
}
header nav {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 55% 19%;
  justify-content: space-between;
  padding: 20px 34px;
}
header nav h1 {
  font-size: 50px;
  font-weight: 600;
}
header .menu_bar {
  display: flex;
  gap: 1rem;
  list-style: none;
  align-items: start;
  /* justify-content: space-between; */
  margin: 0 32px !important;
}

.container {
  width: 100%;
}
.container .select {
  margin: 20px;
  position: relative;
  left: 8%;
}
.container h2 {
  color: #f6f6f6;
  width: 70vh;
  text-align: center;
}
.container .webcam {
  display: flex;
  gap: 8em;
  justify-content: center;
}
.container .webser {
  margin: 10px 30px;
  border-radius: 8px;
  border: 5px solid #f6f6f6;
  transition: 0.5s ease-in-out;
}

.sensormonitor {
  background-color: #f6f6f6;
  width: 570px;
  height: 48vh;
  justify-content: space-around;
  display: grid;
  align-content: space-evenly;
  align-items: center;
  justify-items: center;
  border-radius: 30px;
  padding: 17px;
}
.sensormonitor h2 {
  color: #2f2c2c;
}

.firstline{ border-collapse : collapse; }  /*이중선 제거*/
.firstline td{
    width: 67.6px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    background-color: black;
    
    vertical-align: top;   /* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
  }
.secondline{ border-collapse : collapse; }  /*이중선 제거*/
.secondline td{
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    
    vertical-align: top;   /* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
  }
.thirdline{ border-collapse : collapse; }  /*이중선 제거*/
.thirdline td{
    width: 38.2px;
    height: 30px;
    text-align: center;
    border: 1px solid #000;
    background-color: black;
    
    vertical-align: top;   /* 위 */
    vertical-align: bottom;   /* 아래 */
    vertical-align: middle;   /* 가운데 */
  }
.webcammonitor{
  float:left;
}
.sensormonitor{
  float:right;
}

#seat_Image {
  position: absolute;
  margin: auto;
  border: none;
  border-radius: 50%;
  left: 42%;
  top: 58vh;
  box-shadow: -1px 3px 4px 1px black;
}